[user]
	name = Hiroaki Nakamura
	email = hnakamur@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK5B65+uj4uMrJiMGiGImo3o2mIV4yHYUWZYc5ZkFnRr hnakamur@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
	autocrlf = false
	filemode = false
[merge]
	ff = true
[log]
	date = local
[push]
	default = simple
[alias]
	a = add
	co = checkout
	ci = commit -v
	b = branch
	d = diff -w --color
	#d = diff -w --color-words
	dc = diff -w --color-words=.
	di = diff --color
	#di = diff --color-words
	f = fetch --all --prune
	l = log --show-signature
	lf = log --pretty=fuller
	me = merge
	s = status -s --branch
	lga = log --graph --all --abbrev-commit --pretty=format:'%x09 %Cred%h%Creset %Cgreen%ai %C(bold blue)(%an) -%C(yellow)%d%Creset %s%Creset'
	lg  = log --graph --abbrev-commit --pretty=format:'%x09 %Cred%h%Creset %Cgreen%ai %C(bold blue)(%an) -%C(yellow)%d%Creset %s%Creset'
	tg = for-each-ref refs/tags --format='%(refname:short)%09%(*creatordate:iso)%09%(*committerdate:iso)' --sort=-*creatordate
	conflicts = diff --name-only --diff-filter=U
	delete-merged-branches = !git branch --merged | grep -v -E '^(\\*|  (main|master|develop|staging|release)$)' | xargs -r -n 1 git branch -d

	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
# [pager]
# 	log = diff-highlight | less
# 	show = diff-highlight | less
# 	diff = diff-highlight | less
[credential]
	helper = cache --timeout=3600
[ghq]
	root = ~/ghq
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[http]
	cookiefile = /home/hnakamur/.gitcookies
[url "https://hnakamur@github.com/hnakamur/"]
	insteadOf = https://github.com/hnakamur/
[url "git+ssh://hnakamur@git.launchpad.net/"]
	insteadof = lp:
[url "https://hnakamur@bitbucket.org/hnakamur/"]
	insteadOf = https://bitbucket.org/hnakamur/
[init]
	defaultBranch = main
[diff]
	colorMoved = default
[rebase]
	autosquash = true
[commit]
	gpgsign = true
[format]
	pretty = fuller
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/hnakamur/.config/git/allowed_signers
[tag]
	gpgsign = true
